* {
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.heading {
  margin-top: 40px;
  text-align: center;
  color: gray;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}
.myform {
  width: 600px;
  padding: 40px;
  margin: auto;
}
.form-group {
  margin-bottom: 30px;
}
.form-label {
  color: gray;
  font-size: 20px;
  margin-bottom: 8px;
  width: 100%;
}
input,
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  margin-top: 8px;
}
input {
  height: 40px;
  border-radius: 8px;
}
textarea {
  height: 100px;
}
.radio-group {
  margin-top: 10px;
}
.radio-option {
  margin-bottom: 12px;
}
input[type="radio"] {
  width: initial;
  margin-top: 0;
  margin-right: 10px;
  vertical-align: middle;
}
.radio-option label {
  color: gray;
  font-size: 16px;
  vertical-align: middle;
}
#upload{
  height: 40px; 
  vertical-align: middle;
}
a{
  text-decoration: none;
}
#upload a, input[type="submit"]{
  background: gray;
  color: white;
  width: initial;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
#upload a:hover,input[type="submit"]:hover,
#upload a:active,input[type="submit"]:active {
  background-color: #8bc34a;
}
.container{
    background: #e8e8e8;
    width: 100%;
    height: 100%;
}
.success-section {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
.success-section-top{
    background: #8bc34a;
    padding: 60px 40px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.success-section-top img{
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
    text-align: center;
}
.success-section-top p{
    color: #f3f1f1;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.success-section-bottom{
    padding: 50px 60px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.success-section-bottom .message {
    color: gray;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 35px;
}
.success-section-bottom a{
    background: #8bc34a;
      color: white;
      font-size: 19px;
      font-weight: 400;
      padding: 16px 70px;
      border-radius: 28px;
      cursor: pointer;
}
.success-section-bottom a:hover, .success-section-bottom a:active{
    background-color: #7cb342;
}